.propfile_pic
{

border-radius: 5px;
border: 2px solid #5293C4;
max-width: 120px;
position: absolute;

width: 120px;

margin-right: 12px;

}

.prop_body{
width: auto;
margin-left: 150px;
margin-right: 12px;
position: absolute;
}

.no_margin_left{
width: auto;
margin-left: 0px;
margin-right: 12px;
position: relative;
}


.fp_itemdiv {
    min-height: 64px;
    position: relative;
    padding-right: 3px;
	border-bottom:1px dashed #BBB;
	margin-top:3px;
	
}
.fp_itemdiv:last-child{
border-bottom:none;
}
.fp_itemdiv .name{
font-weight:bold;
}
.fp_itemdiv .desig{

}
.fp_itemdiv .contact{
font-weight:bold;
}

.fp_itemdiv  img{
border-radius: 5px;
border: 2px solid #5293C4;
max-width: 50px;
position: relative;
float:right

}


.ln_itemdiv {
    min-height: 64px;
    position: relative;
    padding-right: 3px;
	border-bottom:1px dashed #BBB;
	margin-top:3px;
	
}
.ln_itemdiv:last-child{
border-bottom:none;
}
.ln_itemdiv .title{

}
.ln_itemdiv  img{
border-radius: 3px;
border: 1px solid #5293C4;
max-width: 50px;
position: relative;
float:right

}
/*
colors
*/
.color_blue{
color: #076FED !important;
}
.color_red{
color: #ff2c55 !important;
}


.bg_color_blue {

background: #076FED;
}
.bg_color_red{

background: none repeat scroll 0% 0% #ff2c55;
}


.btn-green {
  background-color: #53BD42 !important;
  border-color: #53BD42;
}
.btn-green:hover {
  background-color: #70CF61 !important;
}
.btn-green.no-border:hover {
  border-color: #70CF61;
}
.btn-green.no-hover:hover {
  background-color: #87B87F !important;
}
.btn-green.active {
  background-color: #53BD42 !important;
  border-color: #53BD42;
}
.btn-green.no-border.active {
  background-color: #53BD42 !important;
  border-color: #53BD42;
}
.btn-green.disabled,
.btn-green[disabled] {
  background-color: #53BD42 !important;
}

.btn-red {
  background-color: #ff2c55 !important;
  border-color: #ff2c55;
}
.btn-red:hover {
  background-color: #ff2c00 !important;
}
.btn-red.no-border:hover {
  border-color: #ff2c00;
}
.btn-red.no-hover:hover {
  background-color: #ff2c55 !important;
}
.btn-red.active {
  background-color: #ff2c55 !important;
  border-color: #ff2c55;
}
.btn-red.no-border.active {
  background-color: #ff2c55 !important;
  border-color: #ff2c55;
}
.btn-red.disabled,
.btn-red[disabled] {
  background-color: #ff2c55 !important;
}


.btn-blue {
  background-color: #076FED !important;
  border-color: #076FED;
}
.btn-blue:hover {
  background-color: #076F00 !important;
}
.btn-blue.no-border:hover {
  border-color: #076F00;
}
.btn-blue.no-hover:hover {
  background-color: #076FED !important;
}
.btn-blue.active {
  background-color: #076FED !important;
  border-color: #076FED;
}
.btn-blue.no-border.active {
  background-color: #076FED !important;
  border-color: #076FED;
}
.btn-blue.disabled,
.btn-blue[disabled] {
  background-color: #076FED !important;
}


/*
footer
*/
.ext_footer
{
position: relative;
border-bottom: 1px solid #E5E5E5;
background-color: #F5F5F5;
min-height: 40px;
line-height: 39px;
padding: 0px 0px 0px 0px;
display: block;
}
.footer_main_label{
font-size:18px;
margin-left:10px;
margin-right:15px;
}

/*
widget styles
*/

.widget_contents_responsive
{
overflow-y: auto; 
width: auto;
height: 190px; 
word-wrap: break-word;
padding-right: 5px;
}

.widget_box_responsive
{
	border-radius: 0px 0px 5px 5px;
}

.widget_body_responsive
{
	height: 235px; 
	border-radius: 0px 0px 5px 5px;	
}

.widget_data_navigation
{
	position: relative;	
	top: -10px;
	padding-right: 10px;
}

#footer 
{
    position: fixed;
    bottom: 0;
    width: 100%;
	z-index: 9999;
}

.page-content
{
	padding: 8px 20px 50px;
}

.widget_box_responsive ::-webkit-scrollbar 
{  
    width: 8px;  
}  

.widget_box_responsive ::-webkit-scrollbar-track 
{  
    background-color: #eaeaea;  
    border-left: 1px solid #ccc;  
}

.widget_box_responsive ::-webkit-scrollbar-thumb 
{  
    background-color: #ccc;  
}  

.widget_box_responsive ::-webkit-scrollbar-thumb:hover 
{  
    background-color: #aaa;  
} 


.btn-action-width{
width:120px;
}

.form-control-hrzntl{
float:left;
margin-left:20px;
}